*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Folder with external data
disease_analyzer/target/*
disease_analyzer/data/*
restful_api/target/

# Intellij project files 
*/.idea/*
*.iml

#Backup zips
*.zip

#MySQL Workbench files
*.mwb
*.bak
